
.led-screen-form-inputs {
    border: 1px solid var(--led_screen_border_light);
    padding: var(--led_screen_app_padding) calc(var(--led_screen_app_padding) / 1.5);
    margin-bottom: calc(var(--led_screen_app_padding) / 2);
}

.led-screen-form-inputs select {
    width: 100%;
}

.led-screens-form-inputs h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

.led-screen-form-inputs label {
    display: block;
}

.led-screen-form-inputs label {
    color: #616161;
    margin: 9px 0;
}

.led-screens-floor-line-input {
    width: 50px;
    border: none;
}

.led-screens-floor-input-label {
    background: #e7e7e7;
    text-align: center;
}

.led-screen-form-inputs .led-screens-floor-input-label label {
    color: #212121;
}

.led-screens-floor-inches {
    position: relative;
    right: 30px;
}