.led-screen-form-download {
    background: #184fee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 1px solid var(--led_screen_border_light);
}

.led-screen-form-download button {
    border: none;
    background: none;
    color: white;
    font-weight: 600;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

.led-screen-form-download button:hover {
    cursor: pointer;
}

.led-screen-download-icon {
    width: 55px;
    height: 100%;
    background: #184fee;
    border-left: 1px solid var(--led_screen_border_light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.led-screen-download-icon span {
    color: white;
    font-size: 19px;
}