.led-screen-form-download {
    background: #184fee;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.led-screen-form-download:hover {
    cursor: pointer;
}

.led-screen-form-download a {
    text-decoration: none;
    color: white;
}