.led-screen-details-section {
    position: relative;
    margin-left: var(--led_screen_app_padding);
}

.led-screen-flex-bottom {
    position: absolute;
    bottom: 0;
}

.led-screen-details-section > div > div{
    padding: var(--led_screen_app_padding);
}