.led-screen-details-section {
    position: relative;
    margin-left: var(--led_screen_app_padding);
}

.led-screen-flex-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.led-screen-details-section > div > div{
    padding: var(--led_screen_app_padding) calc(var(--led_screen_app_padding) / 1.7);
}

/* Dimension Boxes */
.led-screens-dimension-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 15px;
}

.led-screens-dimension-grid p {
    height: 37px;
    border: 1px solid var(--led_screen_border_dark);
    margin: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.led-screens-dimension-grid p:first-of-type {
    background: #9c9c9c;
    color: #fff;
}

.led-screens-dimension-grid p:last-of-type {
    border-left: none;
}

@media only screen and (max-width: 1080px) {
    .led-screen-flex-bottom {
        position: relative;
    }
}