.led-screen-form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--led_screen_border_light);
    padding: var(--led_screen_app_padding);
    max-width: 100vw;
}

@media only screen and (max-width: 1080px) {
    .led-screen-form-section {
        grid-template-columns: 1fr;
        min-height: 140vh;
    }
}