.led-screen-form-configuration {
    border: 1px solid var(--led_screen_border_light);
    padding: var(--led_screen_app_padding) calc(var(--led_screen_app_padding) / 1.5);
    margin-bottom: calc(var(--led_screen_app_padding) / 2);
}

.led-screen-form-configuration label {
    display: block;
}

.led-screen-form-configuration label {
    color: #616161;
    margin: 9px 0;
}

.led-screen-form-configuration select {
    width: 100%;
}

/* Radio Button Inputs */
.led-screens-radio-toggle form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.led-screens-radio-toggle div {
    display: flex;
}

.led-screens-radio-toggle form label {
    color: #000;
    position: relative;
    top: 2px;
    left: 1px;
}