.led-screen-form-configuration select {
    width: 100%;
}

.led-screens-config-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 15px;
    margin-top: calc(var(--led_screen_app_padding) / 4);
}

.led-screens-radio-toggle [type="radio"] {
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.led-screens-selected-radio {
    background: #4f4f4f;
}

.led-screen-form-inputs .led-screens-selected-radio label {
    color: #fff;
}

.led-screens-config-grid div {
    height: 37px;
    border: 1px solid var(--led_screen_border_dark);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.led-screens-config-grid div:last-of-type {
    border-left: none;
}